header {
    width: 100%;

    // example

    .nav {
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-between;

        &__logo {
            font-style: 24px;
            cursor: pointer;
        }

        &__list {
            display: flex;
            gap: 50px;
            list-style-type: none;

            &--item {
                text-transform: uppercase;

                &-link {
                    text-decoration: none;
                    &:hover{
                        color:red;
                    }
                }
            }
        }
    }
}
